---
import Layout from "../layouts/Layout.astro"
import "../styles/styles.scss"
import TextSection from "../components/sections/TextSection.astro"
import SlidesSection from "../components/sections/SlidesSection.astro"
---

<Layout title="Welcome to Astro.">
  <TextSection>
    <h1 slot="heading" class="heading--section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h1>
  </TextSection>
  <SlidesSection />
  <TextSection>
    <h2 slot="heading" class="heading--section">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h2>
  </TextSection>
</Layout>

<style lang="scss">
  @import "../styles/styles.scss";
</style>
