---

---

<footer class="footer">
  <div class="inner">
    <span>&#169 Twilo 2024</span>
    <span>twilo.net</span>
  </div>
</footer>

<style lang="scss">
  @import "../styles/variables";

  .footer {
    position: relative;
    bottom: 0;

    &__inner {
      display: flex;
      justify-content: space-between;
      scroll-snap-align: start;
      align-items: center;
      color: $white;
      height: 88px;
      padding: 32px 24px;
      background-color: $darkest-grey;

      @media (min-width: $tablet) {
        padding: 0 256px;
      }
    }
  }
</style>
